.btn{
  margin-left: 3%;
}

#showLabel{
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#show, #key{
  font-size: 22px;
  color: blueviolet;
  font-weight: bolder;
  padding-top: 3%;
  padding-left: 3%;
}

.card{
  position: absolute;
  /* top: 20px; */
  left: 30px;
}

.card-body{
  background-color: cornsilk;
}

.footer{
  font-size: 10px;
  color: blue;
  font-weight: bolder;
  position: fixed;
  right: 1px;
  bottom: -1px;
}